pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
    color: #657b83;
    background-color: #fdf6e3;
  }
pre.src {
    position: relative;
    overflow: auto;
    padding-top: 1.2em;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
/* pre.src:before { display: inline;} */
pre.src-org:before { content: 'Org mode'; }
pre.src-elisp:before { content: 'Emacs Lisp'; }
