@font-face {
    font-family: 'freesans';
    src: url('/static/fonts/freesans-webfont.woff2') format('woff2'),
         url('/static/fonts/freesans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'freesans', sans-serif;
}

#content {
    margin-left: 30%;
    margin-right: 30%;
}

#menu li {
    display: inline;
}

p {
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}
